<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Sommaire de la commande
</div>
<div class="p-4">
  <p class="font-italic mb-4">Le coûts postal sera ajouté en fonction du choix du checkout</p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Commande sous total</strong>
      <strong>{{(basketTotal$ | async).subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Envoi et traitement</strong>
      <strong>{{(basketTotal$ | async).shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong>{{(basketTotal$ | async).total | currency}}</strong>
    </li>
  </ul>
</div>
