.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: black;
  border: 1.8px solid;
  border-color: black;
  color:white;
  text-align: center;
  top: -12px;
  right: 32px;
}

.menu {
  text-decoration: none;
  color:#343a40;
  background: white;
  &.active {
    color: floralwhite;
    background: black;
  }
}

.logo{
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

@media (min-width: 992px){
  .navbar.navbar-header-wrap.classic-header .nav .menu-item .nav-link {
    padding: 25px 1.25rem;
  }
  .site-branding-text {
    margin-top: 0.740rem;
    margin-bottom: 0.700rem;
  }
}
